<h1>Lists#index</h1>

<%= cl_image_tag("wqpjitbym3obmikinsiw",
      width: 400, height: 300, crop: :fill) %>

<% @lists.each do |list| %>
  <%= link_to "#{list.name}", list_path(list), class: "btn btn-success" %><br>
<% end %><br><br>

<%= link_to "Créer une liste de film", new_list_path, class: "btn btn-primary" %>
